In [1]:
Path = "https://raw.githubusercontent.com/reddyprasade/DataSet-for-ML-and-Data-Science/master/DataSets/iris.data"

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
iris = pd.read_csv(Path)
iris.head()

   Sepal_Len  Sepal_Width  Patel_Len  Petal_width  Flower_name
0        5.1          3.5        1.4          0.2  Iris-setosa
1        4.9          3.0        1.4          0.2  Iris-setosa
2        4.7          3.2        1.3          0.2  Iris-setosa
3        4.6          3.1        1.5          NaN  Iris-setosa
4        5.0          3.6        1.4          0.2  Iris-setosa

In [4]:
Target = iris['Flower_name']
Target

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Flower_name, Length: 150, dtype: object

In [5]:
Target.value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Flower_name, dtype: int64

In [6]:
Population = 150

In [7]:
iris.shape

(150, 5)

In [18]:
samples = iris.sample(n=120,random_state=42)
samples

     Sepal_Len  Sepal_Width  Patel_Len  Petal_width      Flower_name
73         6.1          2.8        4.7          1.2  Iris-versicolor
18         5.7          3.8        1.7          0.3      Iris-setosa
118        7.7          2.6        6.9          2.3   Iris-virginica
78         6.0          2.9        4.5          1.5  Iris-versicolor
76         6.8          2.8        4.8          1.4  Iris-versicolor
..         ...          ...        ...          ...              ...
139        6.9          3.1        5.4          2.1   Iris-virginica
61         5.9          3.0        4.2          1.5  Iris-versicolor
147        6.5          3.0        5.2          2.0   Iris-virginica
79         5.7          2.6        3.5          1.0  Iris-versicolor
59         5.2          2.7        3.9          1.4  Iris-versicolor

[120 rows x 5 columns]

In [19]:
samples.Flower_name.value_counts()

Iris-setosa        43
Iris-versicolor    39
Iris-virginica     38
Name: Flower_name, dtype: int64

In [20]:
class_distribution = iris['Flower_name'].value_counts()

In [21]:
class_distribution

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Flower_name, dtype: int64

In [23]:
min_class_count = class_distribution.min()
min_class_count

50

In [24]:
class_distribution.index

Index(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype='object')

In [26]:
balanced_samples = [] 
for lables in  class_distribution.index:
    class_samples = iris[iris['Flower_name']==lables].sample(n=min_class_count,random_state=123)
    balanced_samples.append(class_samples)

In [27]:
balanced_df = pd.concat(balanced_samples)

In [29]:
balanced_df.Flower_name.value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Flower_name, dtype: int64

In [30]:
balanced_df = balanced_df.sample(frac=1, random_state=42).reset_index(drop=True)
balanced_df.head()

   Sepal_Len  Sepal_Width  Patel_Len  Petal_width      Flower_name
0        6.8          2.8        4.8          1.4  Iris-versicolor
1        5.0          3.3        1.4          0.2      Iris-setosa
2        5.9          3.0        5.1          1.8   Iris-virginica
3        6.1          2.8        4.7          1.2  Iris-versicolor
4        5.1          2.5        3.0          1.1  Iris-versicolor