In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
Path = "Dataset/penguins_classification.csv"

In [4]:
penguins = pd.read_csv(Path)
penguins.head()

   Culmen Length (mm)  Culmen Depth (mm) Species
0                39.1               18.7  Adelie
1                39.5               17.4  Adelie
2                40.3               18.0  Adelie
3                36.7               19.3  Adelie
4                39.3               20.6  Adelie

In [6]:
Target = penguins['Species']
Target.head()

0    Adelie
1    Adelie
2    Adelie
3    Adelie
4    Adelie
Name: Species, dtype: object

In [8]:
Target.value_counts()

Adelie       151
Gentoo       123
Chinstrap     68
Name: Species, dtype: int64

**Note:** Imbalance Will Happend in Only on Classification: y is discrete (qualitative), made of different classes

eg types of irises: Setosa, Versicolor, Virginica